/* ___ NAVIGATION ____ */

.navigation-bar {
  padding: 25px;
  background-color: white;
}

#logo {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 38px;

  text-align: left;
  letter-spacing: 0.05em;

  color: #C90708;
}

.navigation-item {
  top: 11px;

  font-family: Inconsolata, monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 17px;

  text-align: right;
  letter-spacing: 0.04em;

  color: #000000;

  opacity: 0.5;

  transition: 0.33s ease all;

}

.navigation-item:hover {
  opacity: 1;
  text-decoration: none;
  color: #000000;
}

#active-navigation-item {
  font-weight: bold;
  opacity: 1;
}

#mathur {
  color: #454545;
}


.hero-section #header-carousel {
  border-radius: 4px;
  box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.24), 0px 0px 16px rgba(0, 0, 0, 0.12);
}

.hero-section .carousel-control {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15%;
  opacity: .5;
  filter: alpha(opacity=50);
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  border-radius: 4px;
}

.hero-section .carousel-inner {
  border-radius: 4px;
}

blink {
  /* position: absolute; */
  margin-left: -38px;
}

.hero-section p b {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;

  color: #C90708;
}

.hero-section {
  padding-top: 100px;
  padding-bottom: 120px;
}

.hero-section h2 {

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 32px;
  /* identical to box height */

  color: #808080;

  text-transform: uppercase;
}

.hero-section h1 {

  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 51px;
  line-height: 125%;
  /* identical to box height, or 64px */

  color: #454545;

  opacity: 0.85;

  margin-bottom: 50px;
  margin-top: -10px;
}

.hero-section p {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 152.38%;
  /* or 30px */

  color: #454545;


}

/* HERO */

#greeting {
  font-family: Inconsolata, monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 27px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.04em;

  color: #C90708;

  margin-top: 100px;
}

#intro {

  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 125%;
  /* or 52px */
  text-align: center;

  color: #454545;

  opacity: 0.75;

  margin-top: 50px;

}

/* PROJECTS */

.filter {
  /* margin-top: 100px; */
  margin-bottom: 50px;
}

.filter-item {
  font-family: Inconsolata, monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 17px;

  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;

  color: #000000;

  opacity: 0.5;

}

#active-filter-item {

  font-weight: bold;
  opacity: 1;
}

.project-thumbnail {
  width: 100%;
  transition: 0.33s ease all;
}

.project-thumbnail:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05), 0px 5px 10px rgba(0, 0, 0, 0.1);
  margin-top: -10px;
}

.project-row {
  margin-bottom: 30px;
}

a:hover {
  text-decoration: none;
}

.soc-icons {
  display: table;
  margin: auto;
  margin-top: 100px;
}

.soc-icons img {
  margin-left: 25px;
  margin-right: 25px;
}

.footer-text {

  font-family: Inconsolata;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 17px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;

  color: #454545;

  margin-top: 15px;
  margin-bottom: 50px;

}

.soc-icons a {
  opacity: 0.75;
  transition: 0.3s ease all;
}

.soc-icons a:hover {
  opacity: 1;
}

.about-me {
  margin-top: 50px;
}

.about-me p {

  font-family: Fira Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;

  color: #454545;
}

.current-work {
  margin-top: 80px;
}

.current-work h1 {

  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 125%;
  /* identical to box height, or 40px */

  color: #454545;

  opacity: 0.85;

  margin-bottom: 25px;

}

.current-work h2 {

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  /* identical to box height */
  letter-spacing: 0.05em;

  color: #A71112;
}

.current-work p {

  font-family: Fira Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  /* or 24px */

  color: #454545;

  margin-top: 10px;
}

[animate] {
  animation: show;
  animation-duration: 1.5s;
}

@keyframes show {
  from {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  #logo {
    text-align: center;
    display: block;
  }

  .navigation-item {
    top: 25px;
    text-align: center;
  }

  #intro {
    text-align: left;
    font-size: 24px;
    line-height: 200%;
  }

  #greeting {
    text-align: left;
    margin-top: 50px;
  }

  .filter {
    margin-top: 10px
  }

  .project-thumbnail {
    margin-bottom: 16px;
  }

  .project-row {
    margin-bottom: 0px;
  }

  .soc-icons {
    margin-top: 50px;
  }

  .about-me img {
    margin-bottom: 32px;
  }

  .about-me p {
    line-height: 200%;
  }

  .current-work {
    margin-top: 30px;
  }

  .current-work h1 {
    font-size: 24px;
  }

  .current-work p {
    line-height: 200%;
    margin-bottom: 32px;
  }

  .hero-section h1 {
    font-size: 36px;
    text-align: center;
  }

  .hero-section h2 {
    font-size: 16px;
    text-align: center;
  }

  .hero-section p {
    font-size: 12px;
  }

  .hero-section p b {
    font-size: 12px;
  }

  blink {
    margin-left: -28px;
  }

  .hero-section {
    padding-top: 40px;
    padding-bottom: 50px;
  }

  #header-carousel {
    margin-top: 40px;
  }
}